* {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: $light;
  color: $dark;
  font-family: $primary-font; 
}

nav{
  background: $primary;
  #nav-menu {
    display: block;
  }

  #logo {
    a {
    text-decoration: none;
    color: $dark;
    display: inline-block;
    border: 2px solid $dark;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    font-weight: 800;
    }
  }
}

button {
  outline: none;
  border: none;
  background: $primary;
  color: $dark;
  border-radius: 0.3em;
  display: block;
  width: 80%;
  font-family: $primary-font;
  height: 1.8em;
  padding: 0.4em;
  margin: 0.5em auto;
  font-size: 1.5em;
  font-weight: 900;
  cursor: pointer;

  &:disabled {
    background: $primary-light;
    font-size: 1em;
    font-style: italic;
  }
}

h1,p,h3,h2{
  margin: 0;
}

img {
  max-width: 100%;
}

#footer {
  text-align: center;
  background: $primary;
  font-size: 1.3em;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $dark;

  p {
    margin: 0;
  }
}

/* paginate */
#paginate {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 10px auto;
  span {
    cursor: pointer;
    float: left;
    padding: 4px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid $primary-light;
    border-radius: 2px;
  }
  span.active {
    background-color: $dark;
    color: $primary-light;
  }
}
